/* body backgroung color added */
body{
    background-color: rgba(245, 245, 245, 0.349);
}

/* header style added */
#store-name{
    color: darkblue;
}
#spinner{
    display: none;
}

/* main property styled */
.main-property{
    font-weight: 700;
}
/* all property font size added */
.property{
    font-weight: 600;
}
#no-result{
    display: none;
}
.err-msg{
    background-color: rgba(169, 169, 169, 0.301);
    font-size: 18px;
}